# Dependências
/node_modules
/.npm

# Builds
/android # Ignorar builds Android nativas
/ios     # Ignorar builds iOS nativas
/web-build
/build
/dist

# Expo
.expo/
.expo-shared/ # Contém tokens de conta Expo, um risco de segurança
.devtoolsserver/ # Arquivos temporários do Metro DevTools Server
*.jks
*.p12
*.pem
*.key
*.keystore
*.json.attr

# Logs e Cache
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.prettiercache

# Editor/IDE
.vscode/
.idea/
*.iml

# Sistema Operacional
.DS_Store # macOS
Thumbs.db # Windows

# Diretório temporário usado na inicialização do projeto
/temp_fit_app

# WatermelonDB (se criar arquivos temporários ou de debug)
/.temp_db
